// Variable
$black: #000000 !default;
$dark: #2B3843 !default;
$gray: #666666 !default;
$lightGray: #cccccc !default;
$border: #F3F6F8 !default;
$white: #ffffff !default;

$primary: #26D07C !default;
$price: #F57902 !default;